= simple_form_for @check, html: { class: 'form-horizontal' } do |f|

  = f.input :metric
  = f.input :warning
  = f.input :critical
  = f.input :interval
  
  .form-actions
    = f.button :submit, class: 'btn-large btn-primary'
