%h1 Listing checks

- if @checks.empty?
  No checks yet. 
  = link_to "Create your first one.", new_check_path
- else
  %table.table.table-striped
    %tr
      %th Metric
      %th Warning
      %th Critical
      %th Interval
      %th State
      %th
      %th

    - @checks.each do |check|
      %tr
        %td= check.metric
        %td= check.warning
        %td= check.critical
        %td= check.interval
        %td
          - case check.state
          - when 'ok'
            %span.label= check.state.upcase
          - when 'warning'
            %span.label.label-warning= check.state.upcase
          - when 'critical'
            %span.label.label-important= check.state.upcase
          
        %td= link_to 'Edit', edit_check_path(check), class: 'btn btn-info'
        %td= link_to 'Delete', check, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'

  %br

  = link_to 'New Check', new_check_path, class: 'btn btn-large'
